:root {
  --global-bg-color: #fff6e1; // Correctly using hex codes
  --global-code-bg-color: $code-bg-color-light; // Assuming $code-bg-color-light is defined elsewhere
  --global-text-color: $black-color; // Direct use of SCSS variables
  --global-text-color-light: $grey-color;
  --global-theme-color: #d6ae69;
  --global-hover-color: #e1c391;
  --global-hover-text-color: $white-color;
  --global-distill-app-color: $grey-color;
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: $white-color;
  --global-highlight-color: #a39a90;
}
