root {
  --global-bg-color: #fff6e1;                
  --global-code-bg-color: #f5f5f5; 
  --global-text-color: #000000;         
  --global-text-color-light: #808080;
  --global-theme-color: #d6ae69;
  --global-hover-color: #e1c391;
  --global-hover-text-color: #ffffff;
  --global-distill-app-color: #808080;
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #ffffff;
  --global-highlight-color: #a39a90;
}
